{% extends "portal/detail_base.html" %}
{% load maps %}
{% load bands %}

{% block detail_hint %}
Try exploring further by clicking on a gig this band played or a related band
{% endblock %}

{% block content %}
<div id="band-info">
  <h2>Band details</h2>
  <div id="band-properties" >

      <span class="detail-heading">Band name: <b>{{band.name}}</b></span>
    <table>
      <tr><td>Years performing:</td><td>Not listed</td></tr>
      <tr><td>Members:</td>
        <td>
        {% if band.members.count %}
        {% for member in band.members.all %}
          {{member}}{% if not forloop.last %},{% endif %}
        {% endfor %}
        {% else %}
          No members currently listed
        {% endif %}
        </td>
      </tr>
    </table>
  </div>
  <form action="/gig_csv_subset/">
    <input type=hidden name=q value={{query}}>
    <p>
      <button type="post" id="download-csv-btn"></button>
      Download these gig listing as a CSV file.
    </p>
  </form>
</div>
{% endblock %}

{% block right-bar %}
  <div class="side-detail">
  {% bands_played_with band %}
  {% if band|has_locations %}
  <div id="map-container">
    <h3 class="map-heading">GIG MAP</h3>
    {% map band %}
  </div>
  {% endif %}
  </div>
{% endblock %}
