{% extends "portal/portal_base.html" %}
{% load maps %}
{% load bands %}

{% block content %}
<div id="bands-divider" class="span6">
  <h2>Band details</h2>
    Band name: <b><a href = "{% url portal_band_detail band.id %}">{{band.name}}</a></b>
    <table>
      <tr>
        <td>
          Years performing
        </td>
      </tr>
      <tr>
        <td>
          Members
        </td>
        <td>
        {% if band.members.count %}
          {% for member in band.members.all %}
          <p>{{member}}</p>
          {% endfor %}
        {% else %}
        <p>No members currently listed</p>
        {% endif %}
        </td>
      </tr>
    </table>
  {% bands_played_with band %}
  {% if band|has_locations %}
  <h2>Gigs played</h2>
  {% map band %}
  {% endif %}
</div>
{% endblock %}
