<div id="venue-info" class="detail-info-list">
      <a href="{% url portal_venue_detail venue.id %}">{{venue.name}}</a><br/>
      Status: {{venue.get_status_display}}<br/>
      Type: {% if venue.venue_type %}{{venue.venue_type}}{% else %}No venue type specified{% endif %}<br/>
      <address>Location:
        
        <a href="{% url portal_location_detail venue.location.id %}">
          <strong>{{venue.location.name}}</strong>
          {{venue.location.street_address}}
          {{venue.location.suburb}}<!-- , {{location.postcode}} -->
        </a>
        </address>
      
      Comments: {% if venue.comment %} {{venue.comment}} {% else %} <span class="no-comments">No comments</span>{% endif %}
{% comment %}
    Not sure whether to modify basic_location_info or not.
    <div id="location-info" class="row">
      <h2>Location</h2>
    {% if venue.location %}
      {% with venue.location as location %}
      {% include "portal/basic_location_info.html" %}
      {% endwith %}
    {% else %}
    <p>No location listed for this venue</p>
    {% endif %}
  </div><!-- location-info -->
{% endcomment %}
</div><!-- venue-info -->
