{% extends "portal/portal_base.html" %}

{% block content%}

<h1>Contacts</h1>
<br>
<br>
<div class="row-fluid">
  <div class="span4">
      <h3>TUGG Project</h3>
      <p><i class="icon-user"></i>Deb Verhoeven </p>
      <p><i class="icon-envelope"></i><a href="mailto:#">deb.verhoeven@deakin.edu.au</a></p>
  </div>
  <div class="span4">
      <h3>TUGG Project</h3>
      <p><i class="icon-user"></i>Alexander Gionfriddo </p>
      <p><i class="icon-envelope"></i><a href="mailto:#">alexander.gionfriddo@rmit.edu.au</a></p>
  </div>
  <div class="span4">
      <h3>Website admin</h3>
      <p><i class="icon-user"></i>Shaun O'Keefe </p>
      <p><i class="icon-envelope"></i><a href="mailto:#">shaun.okeefe@versi.edu.au</a></p>
  </div>
</div>
{% endblock%}
