{% extends "portal/detail_base.html" %}
{% load maps %}
{% load search_results %}

{% block detail_hint %}
Try exploring further by clicking on a supporting band or on a venue to find out more.
{% endblock %}

{% block content %}
<div id="gig-info">
  <h2>Gig Details</h2>
  <div id="gig-properties">
    <span class="detail-heading">Gig name: <b>{{gig}}</b></span>
    {% comment %} Where can this go?   <p><strong>start time:</strong> {{gig.start|date:"l, M j, Y"}}</p> {% endcomment %}
  </div>
  <div id="bands">
    {% for band in gig.bands.all %}
    <div class="band{% if forloop.last %} last{% endif %}">
      {% if forloop.first %}
      <div class="detail-heading">Bands</div>
      {% endif %}
      {% include "portal/basic_band_info.html" %}
    </div>
      {% endfor %}
  </div><!-- bands -->
  <!-- ###TODO is this actually meaningful? download a single record? -->
  <form action="/gig_csv_subset/">
    <input type=hidden name=q value={{query}}>
    <p>
      <button type="post" id="download-csv-btn"></button>
      Download this gig listing as a CSV file.
    </p>
  </form>
</div><!-- gig-info -->
{% endblock %}

{% block right-bar %}
  <div id="venue-details" class="side-detail">
    <div class="detail-heading">Venue details</div>
   {% if gig.venue %}
   {% with gig.venue as venue %}
   {% include "portal/basic_venue_info.html" %}
   {% endwith %}
   {% if gig|has_locations %}
   <div id="map-container">
     <h3 class="map-heading">GIG MAP</h3>
     {% map gig %}
   </div>
   {% endif %}
   {% else %}
   <p>No Venue listed for this gig</p>
   {% endif %}
   </div><!-- side-detail -->
{% endblock %}
