{% extends "portal/portal_base.html" %}

{% block content %}
<h1><a href="{% url portal_gig_detail gig.id %}">{{gig}}</a></h1>
<br>
<div id="gig-info" class="row-fluid">
  <h2>Gig Info</h2>
  <div class="well">
      <a href="{% url portal_gig_detail gig.id %}">{{gig}}</a>
    <p><strong>start time:</strong> {{gig.start|date:"l, M j, o"}}</p>
  </div>
</div>
<div id="gig-children" class="row-fluid">
    <div id="bands-divider" class="span6">
      <h2>Bands</h2>
      {% for band in gig.bands.all %}
      {% include "portal/basic_band_info.html" %}
      {% endfor %}

  </div><!-- bands-divider -->
  <div id="other-divider" class="span6">
    <h2>Venue</h2>
      {% if gig.venue %}
      {% with gig.venue as venue %}
      {% include "portal/basic_venue_info.html" %}
      {% endwith %}
    {% else %}
    <p>No Venue listed for this gig</p>
    {% endif %}
    <h2>Stages</h2>
    {% if gig.stages.count %}
    <div id="stages" class="span12 well">
      <ul>
        {% for stage in gig.stages.all %}
        <li>{{stage.name}}(capacity:{{stage.capacity}})</li>
        {% endfor %}
      </ul>
    </div><!-- stages -->
    {% else %}
    <p>No stages for this gig</p>
    {% endif %}
  </div><!-- other-divider -->
</div><!-- gig-children -->
{% endblock %}

