{% extends "portal/portal_min_base.html" %}
{% block beforecontainer %}
<div class="front-page-banner container">
{% include "portal/social_media_buttons.html" %}
</div>
{% endblock %}
<!-- <div id="home"> -->

{% block bodyid %}id="home"{% endblock %}

{% block extraheader %} 
   <link rel="stylesheet" href="/static/css/home.css?{% now "U" %}">
{% endblock %}

{% block mainbody %}
<div class="row homebody">
  <div class="span6" id="home-intro">
    <h1>What’s inside?  </h1> 
    <p>

    The Ultimate Gig Guide (TUGG) tracks the history of the live music scene
    in Melbourne from organised dance hall events, to discos and the
    thriving pub music scene of today.</p>
  </div> 
  <div class="span6" id="home-search">
    {% load searchform %}
    {% search_form large %}  
  </div>
  <div class="row">
    <div class="span12">
      <hr />
    </div>
  </div>
  <div class="row" id="home-action-boxes">
      <a href="/index">
      <div class="span3" id="gig-search">
          <p>Remember that gig where you saw that band that time?</p>
          <h2>Gig Search</h2>
      </div>
      </a>
      <div class="span3" id="lucky-tugging">
          <h2><span class="word-lucky">Lucky</span><span class="word-tugging">Tugging</span></h2>
          <p>Take a lucky dip into the past!</p>
      </div>
      <div class="span3" id="join-the-party">
          <h2><span class="word-join-the">Join the</span><span class="word-party">Party</span></h2>
          <p><img src="/static/css/images/elements/call-to-action-button-white-up.png" />
          Contribute to TUGG!</p>
      </div>
      <a href="/tugging">
      <div class="span3" id="tugging-the-data">
          <h2>Tugging the Data</h2>
          <p>What does it all mean?</p>
      </div>
    </a>
  </div>
  <div class="row" id="recent-tugging">
      <div class="span12">
          {% load discovery %}
          {% recent_edits model="gig" num_edits="6"%}
      </div>
  </div>
</div>
{% endblock %}
<!-- </div> -->
