{% extends "portal/portal_base.html"%}
{% block content %}
        <div class="hero-unit"> 
            <h1>Welcome to The Ultimate Gig Guide</h1> 
            <p>TUGG is a database containing information about gigs and is 
            sorely in need of someone who is better at marketing than this
            poor old software engineer. To begin, enter a name, date or band name from a gig you're 
            looking for and we'll see what we can turn up.
            </p>
            
              <form class="form-search">
                  <input type="text" class="input-xlarge">
                  <button type="submit" class="btn btn-primary">Go &raquo;</button>
              </form>
          </div> 
          <div class="row-fluid">
              <div class="span4">
                  <h2>Browse Gigs</h2>
                  <p>TUGG currently contains over a billion records of historical gig
                  data, all of which can be browsed. You can hardly believe it, but 
                  it's true. To browse, search, and export this data, start here.</p>
                  <p><a class="btn btn-large">Go &raquo;</a></p> 
              </div>
              <div class="span4">
                  <h2>Add Gigs</h2>
                  <p>TUGG is growing constantly growing in size and needs your help. 
                  To add data by hand or bulk import from various data sources such as 
                  CVS files and space telescopes, start here.</p>
                  <p><a class="btn btn-large">Go &raquo;</a></p> 
              </div>
              <div class="span4">
                  <h2>Review Gigs</h2>
                  <p>TUGG draws data from various sources, including submissions by
                  users. The more feedback we have on this data, the
                  better it is; like rock music. To review data entered by other users, start here.</p>
                  <p><a class="btn btn-large">Go &raquo;</a></p> 
              </div>
          </div>
{% endblock %}
