{% extends "portal/portal_base.html"%}
{% block content %}
        <div class="hero-unit"> 
            <h1>The Ultimate Gig Guide</h1> 
            <p style="color: white;"><big>
The Ultimate Gig Guide (TUGG) tracks the history of the live music scene
in Melbourne from organised dance hall events, to discos and the
thriving pub music scene of today.</big></p>
<p>Answer
questions like...</p>
<blockquote>
<strong>...was jazz always an inner-city phenomenon?</strong><br/>
<strong>...where did my favourite band get their start?</strong><br/>
<strong>...when and where did rockabilly reach its peak?</strong><br/>
</blockquote>
<p> and
visualise the musical journey of major bands from their early roots.
            </p>
            {% include "search/search_form.html" %}  
          </div> 
          <div class="row-fluid">
              <div class="span4">
              	  <img src="/static/img/musicphoto1-bw.jpg" class="img-rounded"
              	  style="height:120px"/>
                  <h2>Browse Gigs</h2>
                  <p>Start exploring Melbourne's rich music history here.</p>
                  <p><a class="btn btn-primary" href="index">Go &raquo;</a></p> 
              </div>
              <div class="span4 vapourware">
              	  <img src="/static/img/cowboys-bw.jpg" class="img-rounded"
              	  style="height:120px;"/>
                  <h2>Add Gigs</h2>
                  <p>Contribute contemporary gig listings or upload your own spreadsheets.</p>
                  <p><a class="btn">Go &raquo;</a></p> 
              </div>
              <div class="span4 vapourware">
              	  <img src="/static/img/musicphoto3-bw-fade.jpg" class="img-rounded"
              	  style="height:120px;"/>
                  <h2>Review Gigs</h2>
                  <p>Check if our version of history matches your recollections.</p>
                  <p><a class="btn">Go &raquo;</a></p> 
              </div>
          </div>
          <div class="row-fluid">
              <div class="span12">
                  {% load discovery %}
                  {% recent_edits model="gig" num_edits="6"%}
              </div>
          </div>
{% endblock %}
