{% extends "portal/portal_base.html" %}

{% block content %}
<div class="row-fluid">
    <h1>Gig List</h1>
    <br>
    {% include "search/search_form.html" %}  
</div>
<br>
<div class="row-fluid">
  <table class="table table-bordered">
    <thead>
        <tr><th>Gig Name</th/><th>Venue Name</th/><th>Headlining Band</th><th>Gig Start Time</th/></tr>
    </thead>
    <tbody>
    {% load maps %}
    {% map gig_list %}
    <br/>
    <form action="/export_gigs/">
    <p>
      <button class="btn btn-large btn-primary btn-block" type="submit">Download results</button>
      </p>
      </form>
    {% for gig in gig_list %}
      {% include "portal/gig_row.html" %}
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

