{% extends "portal/portal_base.html" %}

{% block content %}
<div class="row-fluid">
    <h1>Gig List</h1>
    <br>
    {% include "search/search_form.html" %}  
</div>
<br>
<div class="row-fluid">
  <table class="table table-bordered">
    <thead>
        <tr><th>Gig Name</th/><th>Venue Name</th/><th>Headlining Band</th><th>Gig Start Time</th/></tr>
    </thead>
    <tbody>
    {% load maps %}
    {% gig_map gig_list "not_search" %}
    {{ form.map }}
    <br/>
    {{ form.media.js }}
    {% for gig in gig_list %}
      {% include "portal/gig_row.html" %}
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

