<h1>About</h1>

<p>Hello and welcome to The Ultimate Gig Guide (or what we like to call TUGG).

TUGG is a database of gigs that bands and performers have played mostly in Melbourne and surrounds. </p>


<p>
On TUGG you will find data about:
<ul>
    <li>7500+ gigs</li>
    <li>600+Venues at over 500 locations</li>
    <li>1500+ Bands and performers</li>
    <li>Maps of where the gigs happened</li>
    <li>Plus the ability for serious TUGG users to download a set of results into CSV format</li>
</ul>


<p>The TUGG staff are big fans of music (and data) and will be providing some 
insights into what they have found within TUGG. Check the ‘Lucky TUGGing’ 
and ‘TUGGing the data’ pages for more details.</p>

<p>The data on this site is constantly being edited and updated so keep coming back 
to see if any gigs you are interested in have been listed.</p>

<p>If you have any thoughts or questions about TUGG we’d be more than happy to hear them.</p>
