{% extends "portal/portal_min_base.html" %}

{% block navbar %}
    <!-- Navbar
    ================================================== --> 
    <div class="navbar container navbar-fixed-top"> 
      <div class="navbar-inner"> 
        <div class="container"> 
          <a class="brand" href="{% url home %}">TUGG</a>
          <a class="btn btn-navbar text-right" data-toggle="collapse" data-target=".nav-collapse"> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </a> 
          <div class="nav-collapse pull-right"> 
            <ul class="nav"> 
              <li><a href="{% url about %}">About</a></li> 
              <li><a href="{% url contact%}">Contact</a></li> 
            <li>
            <div class="dropdown" id="login-btn-div">
                {% if user.is_authenticated %}
                <a class=" dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i>{{user.username}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><i class="icon-signout"></i><a href="{% url logout %}">Sign Out</a></li>
              </ul>
              {% else %}
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i>Log in
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="padding: 15px; padding-bottom: 0px">
                  <li>
                    <form action="{% url login %}" method="post">
                      {% csrf_token %}
                        <input type="text" name="username" placeholder="User Name"/> 
                        <input type="password" name="password" placeholder="Password"/> 
                        <input class="btn btn-primary" type="submit"/> 
                    </form>
                  </li>
              </ul>
              {% endif %}

            </div>
            </li>
            </ul>
            <!--<form class="navbar-search pull-right" action="{% url search_index %}">
              <input type="text" name="q" class="search-query" placeholder="Search...">
          </form>-->
          </div><!-- nav-collapse -->
        </div><!-- container-fluid -->
      </div><!-- navbar-inner -->
    </div><!-- navbar -->
{% endblock %}

{% block mainbody %}
      <div id="middle" class="row">
        <div class="span2">
          {% block sidebar %}
          {% comment %}
          <div class="sidebar-nav"> 
            <ul class="nav nav-list">
              <li class="nav-header">Pages</li>      
              <li><a href="{% url home %}"><i class="icon-home"></i>Home</a></li>      
              <li><a href="{% url search_index %}"><i class="icon-th-list"></i>Gigs</a></li>     
              <li><a href="#" class="vapourware"><i class="icon-signal"></i>Stats</a></li>     
              {% if user.is_authenticated and user.is_staff %}
              <li class="nav-header">Admin</li>      
              <li><a href="{% url admin:gig_registry_gig_add %}"><i class="icon-plus"></i>Add a Gig</a></li>     
              <li><a href="{% url admin:gig_registry_gig_changelist %}"><i class="icon-edit"></i>Edit a Gig</a></li>
              <li><a href="{% url admin:auth_user_changelist %}"><i class="icon-user"></i>Manage Users</a></li>
              {% endif%}
            </ul>
            
          </div>
          {% endcomment %}
          {% endblock %}
        </div> <!-- end sidebar-->
        <div id=content class="span7">
          {% block content %}
          {% endblock %}
        </div> <!-- content-->
        <div id="right-col" class="span3">
	  {% block right-bar %}
          {% endblock %}
        </div>
      </div> <!-- middle-->
{% endblock %}
