{% extends "portal/portal_min_base.html" %}

{% block bodyid %}id="not-home"{% endblock %}

{% block extraheader %} 
   <link rel="stylesheet" href="/static/css/tables.css?{% now "U" %}">
{% endblock %}


{% block mainbody %}
<div id="middle" class="row">
  {% include "portal/social_media_buttons.html" %}
  <div class="span2">
    {% block sidebar %}
    &nbsp;
    {% endblock %}
  </div> <!-- end sidebar -->
  <div id ="container" class="span10">
    <div class="row">
      <div id=content class="span{% block middle-width %}7{% endblock %}">
        {% block content %}
        {% endblock %}
      </div> <!-- content -->
  
      <div id="right-col" class="span{% block right-width %}3{% endblock %}">
        {% block right-bar %}
        {% endblock %}
      </div> <!-- right-col -->
    </div> <!-- row -->

    {% block bottom %}
    {% endblock %}
  </div> <!-- container -->
</div> <!-- middle -->
{% endblock %}
