{% extends "portal/portal_base.html" %}

{% block content %}
<h3>Grand Openings 1969</h3>


<p>
A significant number of venues first opened their doors in 1969. 
We have taken ‘newly opened’ venues to be those that explicitly advertise themselves 
as new. In other words a new venue can open within a building that has previously 
hosted performances. If a venue hasn’t declared itself to be ‘new’, we haven’t 
assumed it just opened (even if we’ve listed the first gig within TUGG for that 
venue).
</p>

<p>
In 1969 we listed 12 venues that had a ‘Grand Opening’ gig.
</p>

<p>They are:

<ul>
    <li>Dollys – Brighton (main act: The Valentines)</li>
    <li>Submarine – Glen Iris (The Zoot)</li>
<li>Traffik – Melbourne (Max Merritt and the Meteors, The Valentines, Billy Thorpe and the Aztecs)</li>
<li>Marquis – Preston (Doug Parkinson in Focus, The Zoot)</li>

<li>Cage – Yarraville (Doug Parkinson in Focus, The Zoot)</li>
<li>The Cross – Caulfield (Campact)</li>
<li>Revolution – West Melbourne (The Zoot)</li>
<li>Peppers – Box Hill (Max Merritt and the Meteors)</li>
<li>Jam Factory – Prahran</li>
<li>Lucifers – Melbourne (Flying Circus (Sydney)</li>
<li>Spectre – Newport (Doug Parkinson in Focus)</li>
<li>Action – Sandringham (Masters Apprentices)</li>
</ul>

<p>
What’s immediately noticeable is that almost all of the venues tried to make a big
splash by employing one of the ‘hot’ bands of the day for their Grand Opening. 
The effectiveness of this strategy is debatable with many of the new venues either 
discontinuing their gig listings in Go-Set after a few weeks or simply finishing up. 
</p>
<p>
Two of the venues that did kick on were Traffik and Peppers. Traffik was a large club 
that occupied the building previously the home of the infamous ‘Catcher’. Peppers 
was held at the Box Hill Town Hall and had a unique setup where the younguns could 
go and rage downstairs where their favourite band played whilst mums and dads 
tripped upstairs to the ballroom (cool concept I reckon!) 

</p>
<p>
What’s immediately noticeable is that almost all of the venues tried to make a big splash by employing one of the ‘hot’ bands of the day for their Grand Opening. The effectiveness of this strategy is debatable with many of the new venues either discontinuing their gig listings in Go-Set after a few weeks or simply finishing up. 

</p>
<p>
Two of the venues that did kick on were Traffik and Peppers. Traffik was a large club that occupied the building previously the home of the infamous ‘Catcher’. Peppers was held at the Box Hill Town Hall and had a unique setup where the younguns could go and rage downstairs where their favourite band played whilst mums and dads tripped upstairs to the ballroom (cool concept I reckon!) 

</p>
<p>
A notable exception to the rule that new venues splash out on big name acts was the Jam Factory. Its opening was a ‘musos only’ closed event where performers and spectacular dance magician Jeff Crozier appeared and jammed all night long. This place seemed to offer any punters attending something far more freeform than most of the dances of the time.

</p>
<hr/>
<h3>1969 Hot Performers</h3>
<p>
A quick summary of the highlights of 1969:

<h4>Doug Parkinson in Focus</h4>

Total of 243 Gigs listed

Venues most played:
<ul>
    <li>Berties – 64</li>
<li>Sebastians – 43</li>
<li>Thumpin’ Tum – 17</li>
<li>Life – 16</li>
<li>Opus Uptown – 10</li>

</ul>

Gigs by area
<ul>
    <li>Melbourne CBD – 132</li>

<li>Inner South – 40 (Impulse, Opus Uptown/ St Kilda City Hall, That’s Life/Life, 431)</li>
</ul>
Other bands on their gigs
<ul>
<li>Daisy Clover – 19</li>
<li>Max Merritt and the Meteors – 19</li>
<li>Billy Thorpe and the Aztecs – 16</li>
<li>The Zoot - 15</li>
</ul>


<h4>Billy Thorpe and the Aztecs</h4>
<p>Total of 168 Gigs listed</p>

Venues most played: 
<ul>
    <li>Thumpin Tum – 30 gigs</li>
    <li>Berties – 27</li>
    <li>Sebastians – 23</li>
    <li>Traffik – 16</li>
    <li>Impulse – 12</li>
</ul>

<h4>Gigs by area</h4>

<ul>
    <li>Melbourne CBD – 96</li>
    <li>Inner South – 30 (Impulse, Opus Uptown, That’s Life/Life, Gas, 431)</li>
</ul>
Other bands on their gigs
<ul>

    <li>Max Merritt and the Meteors – 18</li>
    <li>Doug Parkinson in Focus – 16</li>
    <li>Daisy Clover – 11</li>
</ul>
<hr/>

<h4>Pop stars and their listed gigs</h4>

Johnny Farnham
23 gigs in 1969

Russell Morris 
39 gigs in 1969

Ronnie Burns 
14 gigs in 1969

Ross D. Wylie
19 gigs in 1969

</hr>
<h3>TUGG in 1969 -  At the beach</h3>

<p>The Victorian seaside was a popular place for gigs in the summertime of 1969.  Hordes of teens got out of Melbourne and flocked to the waves of the seaside towns during the day and needed somewhere to dance the sand off their feet at night.
</p><p>
The Mornington Peninsula town Sorrento had a dance at the local RSL called Tom Katz. This dance had some popular bands play and had gigs most nights throughout January and weekend gigs right until March as well as the Easter break in early April. 
</p><p>

Tootgarook (near Rye and Rosebud) had a dance called Itzagas which ran during the first week of 1969. In Rosebud at Peninsula Gardens a couple of large concerts were held where top rockers Masters Apprentices, Ronnie Burns, Johnny Farnham and The Zoot performed.
</p><p>

The town of Mornington (about 60 kms out of Melbourne) held a dance called Caesars, at its town hall throughout 1969. Its busiest time was during January where 10 gigs were held.
</p><p>

Further east, in Westernport Bay, the Phillip Island town of Cowes had a dance at the  Cowes Old Post Office. Despite 16 gigs in January the venue wasn’t heard of again until 1970.
</p><p>

On the West Coast, there was a dance listed at Airey’s Inlet where hipster pop rockers The Groop, held a week long residency from New Years Eve into January 1969.
</p><p>

Way out west at Warrnambool 16 gigs were held from New Year’s Eve into mid January as some of the finest Melbourne based groups headed out to this regional city.
</p><p>

At years end a few more beachside regional towns featured gigs listed for December 69. The Wild Colonial Club at Lorne had held a dance for many summers since the late 1950s, though was only listed this year for December. 
</p><p>

The Jan Juc Surf Lifesaving Club held some dances around Christmas time with the Town Criers and the New Dream providing the entertainment. On the eastern side of Melbourne at Cape Patterson, the Afghan dance hosted music from Christmas 1969 into early January 1970.
</p>
</hr>

<h3>TUGG 1969 - The Easybeats</h3>

The Easybeats toured Australia in 1969 and in Melbourne played a handful of venues. The gigs were well hyped in Go-Set and received a positive review, though some years later Glenn A. Baker (in the liner notes of the compilation ‘The Easybeats: Absolute Anthology, 1965-1969’) referred to the tour overall as ‘lacklustre’ and highlighted the various issues the band faced and which led to the demise of The Easybeats at the conclusion of the tour.

<hr/>

<h3>TUGG 1969 - Did you know? </h3>

Coffin
The ominously titled dance ‘Coffin’ in Airport West, was held on April 11, 1969. The dance had no other listings for the year.

TUGG 1970 – Did you know?

Did you know…
The T. F. Much Ballroom, became an important venue in early 70’s
Melbourne.
The first gig held at the T. F. Much Ballroom (aka Too Fucking Much Ballroom)
was held on August 8 1970: http://115.146.95.164/gig/5906/

According to the music magazine Go-Set, the reaction to the gig was overwhelmingly
positive. 

<hr/>

<h3>Great (or terrible) band names</h3>
The editors of TUGG have a penchant for the unusual and we really enjoy seeing
the ‘interesting’ band names of the past. Some of these bands had extensive careers,
while others listed here seemed to have come and gone quickly. They include:

<ul>

<li>The Schmoos</li>
<li>Grown Up Wrong</li>
<li>Brown Eyed Handsome Jam</li>
<li>The Pink Jeep</li>
<li>Black and White Minstrels</li>
<li>Tolpuddle Martyrs</li>
<li>Total Fire Band</li>
<li>Rip Van Wynkel and his Marble</li>
<li>Quinsy Wort Brook</li>
<li>Harris Tweed Trouser Band</li>
<li>Grandma’s Depression</li>
<li>Camp-act or Campact</li>
<li>Freda Crickleschnacle</li>
<li>Caramba Breed</li>
<li>Greenwich Cuckoo</li>
<li>Sons of the Vegetal Mother</li>
<li>Pig Face</li>
<li>Indelible Murtceps</li>
<li>Dafiduk</li>
<li>King Hippo’s Poetry Band</li>
<li>Fewse</li>
<li>The Bushwhackers</li>
<li>Meating</li>
<li>Muff Pot</li>
<li>Luntch</li>
<li>Captain Australia and the Honky Tonk</li>
<li>Fickle Pickle</li>
</ul>
<hr/>
<h3>Touring Bands</h3>

Touring was a vital part of life for bands and performers searching for fame beyond their chosen home-base city. 

By the late 1960’s it was obvious to pop/rock musos that Melbourne was the dance mecca of Australia and the city had to be visited (if not adopted) if a band was serious about achieving nationwide stardom.

Currently TUGG’s data is focussed on 1969-70. In these years Melbourne was visited by many of the biggest bands and artists in Australia. We’ve chosen a few of the touring bands to see if there is a pattern to the venues they chose to play.

<h4>La De Das </h4>
The La De Das were one of the biggest and most exciting bands to come out of NZ in the post-Beatles era of the mid 1960s. They visited Australia from 1967 onwards, making Sydney their base whilst visiting Melbourne a couple of times in 1967-68. The visits to Melbourne continued in 1969 and 70.

<h4>Tours to Melbourne</h4>
Feb/March 1969 (12 days).
Total number of gigs played – 15
Most gigs on one day – 3 on Saturday March 1st, 1969.
Venues played: Berties, 54321, Life, Thumpin’ Tum, Q Club, Sebastians.
Most played Berties – 6, Sebastians & Life – 3 each.

<h4>May 1969 (5 days)</h4>
Total number of gigs played - 8
Most gigs on one day – 2 on Friday May 9, 1969.
Venues played: Berties Thumpin Tum, Opus Uptown, Glu Pot, Sebastians
Most Played: Berties – 3

<h4>May 1970 (4 days)</h4>
Gigs played - 12
Venues played – Thumpin’ Tum, Piccadilly, Traffik, Caulfield Town Hall, La Trobe University, Melbourne University, Caesars in-club – Box Hill and Coburg, Paradise (Caulfield), Opus 70
Most played: Berties - 2

<h4>August 1970 (4 days)</h4>
Gigs played - 9
Venues played – Dorset Gardens Hotel, Berties, Paradise (Ormond), Peppers, Opus 70, Sebastians, Zed
Most Played: Berties - 3

{% endblock %}