{% extends "portal/portal_base.html" %}
{% load maps %}
{% block content %}
<div id="venue-info" class="row-fluid">
  <h1><a href="{% url portal_venue_detail venue.id %}">{{venue.name}}</a></h1>
  <div id="venue" class="span12">
    <dl>
      <dt>Status</dt> 
      <dd>{{venue.status|default:"None"}}</dd>
      <dt>venue type<dt> 
      <dd>{{venue.venue_type|default:"None"}}</dd>
      <dt>Comment</dt> 
      <dd>{{venue.comment|default:"None"}}</dd>
    </dl>
  </div><!-- venue-->
  <div id="location-info" class="row-fluid"> 
    <h2>Location</h2>
    {% if venue.location %}
    {% with venue.location as location %}
    {% include "portal/basic_location_info.html" %}
    {% endwith %}
    {% else %}
    <p>No location listed</p>
    {% endif %}
  </div><!-- location-info -->
    {% venue_map venue %}
    {{ form.map }}
    {{ form.media.js }}
</div><!-- venue-info -->
{% endblock %}
