{% extends "portal/portal_detail.html" %}
{% load maps %}
{% block content %}
<div id="venue-info" class="row">
  <h2>Venue details</h2>
  <h3>{{venue.name}}</h2>
  <div id="venue" class="span12">
    <dl>
      <dt>Status</dt> 
      <dd>{{venue.status|default:"None"}}</dd>
      <dt>venue type<dt> 
      <dd>{{venue.venue_type|default:"None"}}</dd>
      <dt>Comment</dt> 
      <dd>{{venue.comment|default:"None"}}</dd>
    </dl>
  </div><!-- venue-->
      <h2>Location</h2>
  <div id="location-info" class="row"> 
    <div id="location-text" class="span6">
      {% if venue|has_locations %}
      {% with venue.location as location %}
      {% include "portal/basic_location_info.html" %}
      {% endwith %}
    </div> <!-- location-text -->
    <div id="locations-map" class="span6">
      {% map venue %}
    </div><!-- locations-map -->
      {% else %}
      <p>No location listed</p>
  </div><!--  location-text -->
      {% endif %}
  </div><!-- location-info -->
</div><!-- venue-info -->

{% endblock %}

{% block right-bar %}
    {% map venue %}
    {% search_map page.object_list %}
{% endblock %}
