{% extends "portal/portal_base.html" %}

{% block content %}
<div id="venue-info" class="row-fluid">
  <h1><a href="{% url portal_venue_detail venue.id %}">{{venue.name}}</a></h1>
  <div id="venue" class="span12">
    <dl class="dl-horizontal">
      <dt>Status</dt> 
      <dd>{{venue.status}}</dd>
      <dt>venue type<dt> 
      <dd>{{venue.venue_type}}</dd>
      <dt>Comment</dt> 
      <dd>{{venue.comment}}</dd>
    </dl>
  </div><!-- venue-->
  <div id="location-info" class="row-fluid">
    <h2>Location</h2>
    {% with venue.location as location %}
    <div id="location" class="span12 well">
      <a href="{% url portal_location_detail location.id %}">
      <address>
        <strong>{{venue.location.name}}</strong>
        <br>
        {{location.street_address}}
        <br>
        {{location.suburb}}, {{location.postcode}}
        <br>
        {{location.country}}
    </address>
    </a>
    </div><!-- location -->
    {% endwith %}
  </div><!-- location-info -->
</div><!-- venue-info -->
{% endblock %}
