<div class='accordian' id='{{facet_name}}-facet-accordian'>
  <div class='accordian-group'>
    <div class='accordian-heading'>
        <li class="nav-header">{{facet_name}}<a class='accordian-toggle' data-toggle='collapse' data-parent='#{{facet_name}}-facet-accordian' href='#collapse-{{facet_name}}-facets'>(more)</a></li>
    </div>
    {% for facet in new_facets|slice:":5" %}
      {% if facet.count %}
      <li><a href="{{full_path}}?q={{query}}&{{ facet.to_select.render_url }}">{{facet.value}} ({{facet.count}})</a></li> 
      {% endif %}
      {% endfor %}
      <div id='collapse-{{facet_name}}-facets' class='accordion-body collapse'> 
      <div class='accordian-inner'> 
      {% for facet in new_facets|slice:"5:" %}
      {% if facet.count %}
      <li><a href="{{full_path}}?q={{query}}&{{ facet.to_select.render_url }}">{{facet.value}} ({{facet.count}})</a></li> 
      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>
