{% for facet in facet_list %}
<span class="label">
    <a href="{{full_path}}?{% for f in facet.other_facets %}selected_facets={{f}}{% if forloop.last %}{% else%}&{% endif %}{% endfor %}&{% for f in selected_date_facets %}selected_date_facets={{f|urlencode}}{% if forloop.last %}{% else%}&{% endif %}{% endfor %}">{{facet.value}}<i class="icon-remove"></i></a>
</span><br>
{% endfor %}

{% for facet in date_facet_list %}
<span class="label">
    <a href="{{full_path}}?{% for f in selected_facets %}selected_facets={{f}}{% if forloop.last %}{% else %}&{% endif %}{% endfor %}&{% for f in facet.other_facets %}selected_date_facets={{f|urlencode}}{% if forloop.last%}{% else %}&{% endif %}{% endfor %}">{{facet.value}}<i class="icon-remove"></i></a>

    </span>
{% endfor %}
