<form class="form-search" action="{% url search_index %}">
    {% block search_heading %}
    {% endblock %}
    {% block help_text %}
    {% endblock %}
    <input type="text" name="q" class={% block input_class %}"input-xlarge"{% endblock %} {% if query %}value="{{query}}"{% else %}placeholder={% block placeholder%}"Enter your search term..."{% endblock %}{% endif %}>
    <button type="submit" class={% block button_class %}"btn btn-primary input-append"{% endblock %}>{% block button_text %}Search<{% endblock %}/button>
</form>
