{% extends "portal/portal_base.html" %}

{% block script %}
{{ block.super }}
<script src="/static/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script type="text/javascript">
/* API method to get paging information */
$.fn.dataTableExt.oApi.fnPagingInfo = function ( oSettings )
{
    return {
        "iStart":         oSettings._iDisplayStart,
        "iEnd":           oSettings.fnDisplayEnd(),
        "iLength":        oSettings._iDisplayLength,
        "iTotal":         oSettings.fnRecordsTotal(),
        "iFilteredTotal": oSettings.fnRecordsDisplay(),
        "iPage":          Math.ceil( oSettings._iDisplayStart / oSettings._iDisplayLength ),
        "iTotalPages":    Math.ceil( oSettings.fnRecordsDisplay() / oSettings._iDisplayLength )
    };
}
 
/* Bootstrap style pagination control */
$.extend( $.fn.dataTableExt.oPagination, {
    "bootstrap": {
        "fnInit": function( oSettings, nPaging, fnDraw ) {
            var oLang = oSettings.oLanguage.oPaginate;
            var fnClickHandler = function ( e ) {
                e.preventDefault();
                if ( oSettings.oApi._fnPageChange(oSettings, e.data.action) ) {
                    fnDraw( oSettings );
                }
            };
 
            $(nPaging).addClass('pagination').append(
                '<ul>'+
                    '<li class="prev disabled"><a href="#">&larr; '+oLang.sPrevious+'</a></li>'+
                    '<li class="next disabled"><a href="#">'+oLang.sNext+' &rarr; </a></li>'+
                '</ul>'
            );
            var els = $('a', nPaging);
            $(els[0]).bind( 'click.DT', { action: "previous" }, fnClickHandler );
            $(els[1]).bind( 'click.DT', { action: "next" }, fnClickHandler );
        },
 
        "fnUpdate": function ( oSettings, fnDraw ) {
            var iListLength = 5;
            var oPaging = oSettings.oInstance.fnPagingInfo();
            var an = oSettings.aanFeatures.p;
            var i, j, sClass, iStart, iEnd, iHalf=Math.floor(iListLength/2);
 
            if ( oPaging.iTotalPages < iListLength) {
                iStart = 1;
                iEnd = oPaging.iTotalPages;
            }
            else if ( oPaging.iPage <= iHalf ) {
                iStart = 1;
                iEnd = iListLength;
            } else if ( oPaging.iPage >= (oPaging.iTotalPages-iHalf) ) {
                iStart = oPaging.iTotalPages - iListLength + 1;
                iEnd = oPaging.iTotalPages;
            } else {
                iStart = oPaging.iPage - iHalf + 1;
                iEnd = iStart + iListLength - 1;
            }
 
            for ( i=0, iLen=an.length ; i<iLen ; i++ ) {
                // Remove the middle elements
                $('li:gt(0)', an[i]).filter(':not(:last)').remove();
 
                // Add the new list items and their event handlers
                for ( j=iStart ; j<=iEnd ; j++ ) {
                    sClass = (j==oPaging.iPage+1) ? 'class="active"' : '';
                    $('<li '+sClass+'><a href="#">'+j+'</a></li>')
                        .insertBefore( $('li:last', an[i])[0] )
                        .bind('click', function (e) {
                            e.preventDefault();
                            oSettings._iDisplayStart = (parseInt($('a', this).text(),10)-1) * oPaging.iLength;
                            fnDraw( oSettings );
                        } );
                }
 
                // Add / remove disabled classes from the static elements
                if ( oPaging.iPage === 0 ) {
                    $('li:first', an[i]).addClass('disabled');
                } else {
                    $('li:first', an[i]).removeClass('disabled');
                }
 
                if ( oPaging.iPage === oPaging.iTotalPages-1 || oPaging.iTotalPages === 0 ) {
                    $('li:last', an[i]).addClass('disabled');
                } else {
                    $('li:last', an[i]).removeClass('disabled');
                }
            }
        }
    }
} );

$(document).ready(function() {
        $('#index-table').dataTable({
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "bFilter": false,
        "bInfo": false,
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "{% url search_ajax %}?{% if query %}q={{query}}{% endif %}{% if selected_facets %}{% for facet in selected_facets %}&selected_facets={{facet}}{% endfor %}{% endif %}{% if selected_date_facets %}{% for facet in selected_date_facets %}&selected_date_facets={{facet}}{% endfor %}{% endif %}"
    } );
});

$.extend($.fn.dataTableExt.oStdClasses, {
    "sWrapper": "dataTables_wrapper form-inline"
    });
</script>
{% endblock %}
{% block sidebar %}
{{block.super}}


{% load faceting %}
<div class="sidebar-facets">
<p class="facet-caption">Showing results for: "TODO"</p>
<p class="facet-instruction">Filter results by:</p>
  <ul class="nav nav-list">
      {% facet_group facets.fields.venue_name venue_name 5 request.get_full_path  selected_facets selected_date_facets %}
      {% facet_group facets.fields.bands bands 5 request.get_full_path selected_facets selected_date_facets %}
      {% date_facet_group facets.dates.start date 5 request.get_full_path selected_facets selected_date_facets %}
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <h2>Gig List</h2>
</div>
<div class="row">
  <table class="table" id="index-table">
    <thead>
        <!--         <tr><th></th><th>Date</th/><th>Venue Name</th><th>Bands</th><th>Gig Name</th/><th>Cost</th/><th>Address</th/></tr> -->

        <tr><th></th><th>Gig Name</th/><th>Venue</th><th>Date/time</th/></tr>
    </thead>
    <tbody>
    </tbody>
    </table>
    <form action="/gig_csv_subset/">
    <input type=hidden name=q value={{query}}>
    <p>
      <button type="post" id="download-csv-btn"></button>
      Download this list as a CSV file.
      </p>
      </form>
</div>
{% endblock %}

{% block right-bar %}
    {% comment %}
    {% load searchform %}
    {% search_form "small" %}
    {% current_facet_list request.get_full_path selected_facets selected_date_facets %}
    {% endcomment %}
    {% include "search/search_form.html" %}  
    {% load maps %}
    {% search_map page.object_list %}
{% endblock %}
