{% extends "portal/portal_base.html" %}

{% block content %}
<div class="row-fluid">
    <h1>Gig List</h1>
    <br>
    {% include "search/search_form.html" %}  
</div>
<br>
<div class="row-fluid">
  {% if page.object_list %}
  <table class="table table-bordered">
    <thead>
        <tr><th>Gig Name</th/><th>Venue Name</th/><th>Headlining Band</th><th>Gig Start Time</th/></tr>
    </thead>
    <tbody>
    {% load maps %}
    {% search_map page.object_list %}
    <br/>
    {% for gig_result in page.object_list %}
    {% with gig_result.object as gig %}
    {% include "portal/gig_row.html" %}
    {% endwith %}
    {% endfor %}
    </tbody>
    </table>
  {% else %}
    {% if query %}
    <div class="alert alert-error">
      <p>Your search didn't return any results.</p>
    </div>
    {% else %}
    <div class="alert alert-info">
      <p>Please enter a search term</p>
    </div>
    {% endif %}
  {%endif %}
</div>
{% endblock %}

